/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12%;
    background-color: rgb(124, 182, 229);
}

main {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 5px;
    filter: drop-shadow(0 3px 20px grey);
    font-family: Roboto;
}

section {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 270px;
    margin: 20px;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    font-size: 12px;
}

section:hover {
    background-color: whitesmoke;
    width: 250px;
}

img {
    width: 70px;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

h2,
div {
    color: rgb(13, 121, 209);
}

.text {
    text-align: center;
    color: grey;
    font-size: 16px;
}

.text-price {
    display: flex;
    flex-direction: row;
    font-size: 16px;
}

.strong {
    display: flex;
    padding-bottom: 0.1px;
    font-size: 16px;
}

.span {
    font-size: 30px;
}

.price-month {
    display: flex;
    align-items: baseline;
}